<?xml version="1.0" encoding="utf-8"?>
<Config>
  <BackupRootDir>.\Backup</BackupRootDir>
  <CsvRootDir>.\CSV</CsvRootDir>
  <AttachedFileRootDir>.\AttachedFiles</AttachedFileRootDir>
  <EditableItems>
    <IsStayInTaskTray>true</IsStayInTaskTray>
    <IsInitShowMainForm>true</IsInitShowMainForm>
    <IsNotifyWindowsToast>true</IsNotifyWindowsToast>
    <ThresDaysRed>1</ThresDaysRed>
    <ThresDaysYellow>3</ThresDaysYellow>
    <NotifyTermOutSpanDay>7</NotifyTermOutSpanDay>
  </EditableItems>
</Config>